layout {
      default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        } 
    }
    tab name="rust" split_direction="vertical" cwd="/home/fafa/code/tauri-mobile" {
        pane name="nvim" size="75%" command="nvim" 
        pane name="cargo" command="cargo" size="25%" {
          args "tauri" "android" "dev"
        }
    }

    tab name="server" split_direction="vertical" cwd="/home/fafa/code/tauri-mobile" {
        pane name="server 01" 
        pane name="server 02"
    }
}
